
    <div class="random">
      <img src="{{randomBeerObject.image_url}}" alt="Card image cap">
      <div class = "description">
        <h3>{{randomBeerObject.name}}</h3>
        <p>{{randomBeerObject.tagline}}</p>
        <p>{{randomBeerObject.description}}</p>
            <h4>Food Pairing</h4>
            {{#each randomBeerObject.food_pairing}}
            <li>{{this}}</li>
            {{/each}}

        <p><strong>Brewers Tips: </strong>{{randomBeerObject.brewers_tips}}</p>
      
      </div>
      </div>
    








